.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.headerContainer {
  position: sticky;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:large;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#MTA-Logo {
  width: 65px;
  height: auto;
  padding-right: 15px;
}

.mainContentContainer {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Adjust for header */
  overflow: hidden;
}


.sideBarContainer {
  width: 30%;
  height: calc(100vh - 100px); /* Ensure it extends below the header */
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
}



.mainContent {
  width: 70%;
  height: calc(100vh - 100px);
  margin-left: 30%; /* To account for the fixed sidebar */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.groupImageContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 5px;
}

.groupImageContainer:hover {
  background-color: #f0f0f0;
}

.groupTrainIcon {
  width:50px;
  height: auto;
  max-width: 100%;

}


.subwaySingleContainer{
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  background-color: white;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleImageContainer {
  display: flex;
  padding: 10px;
}

.singleImageContainer:hover{
  background-color: #f0f0f0;
}

.singleTrainIconSelected {
  filter: brightness(1);
  width: 75px;
  height: auto;
}

.singleTrainIconUnselected {
  filter: brightness(1);
  width: 75px;
  height: auto;
  opacity: .5;
}

.trainButtonsContainer{
    display: flex;
    justify-content: center;
}

.train-container {
    /* margin-top: 75px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0px 30px 30px 30px
  }
  
  .train-card {
    background: #f8f9fa;
    border-radius: 8px;
    /* padding: 30px; */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%
    ;
  }

  .trainCardLogo {
    width: 20px;
    height: auto
  }
  
  .train-card h2 {
    margin: 0 0 8px;
  }
  
  .train-card p {
    margin: 4px 0;
  }

#backButton {
  width: 100px;
  height: auto;
}

#backButton:hover {
  background-color: #f0f0f0;
}
