body {
  background-color: whitesmoke;
}

.headerContainer {
  background:#f8f9fa;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:large;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  z-index: 100;
}

#MTA-Logo {
  width: 65px;
  height: auto;
  padding-right: 15px;
}

.sideBarContainer {
  position: fixed;
  width: 20%;
  height: calc(100vh - 100px);
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  top: 120px;
  left: 0;
  z-index: 99;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-left: 20%;
  margin-top: 120px;
  height: calc(100vh - 110px);   
  overflow-y: auto;
}


.groupImageContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 5px;
}

.groupImageContainer:hover {
  background-color: #f0f0f0;
}

.groupTrainIcon {
  width:40px;
  height: auto;
  max-width: 100%;

}
.subwaySingleContainer{
  position: fixed;
  width: 80%;
  height: 100px;
  /* background-color: rgb(219, 235, 240); */
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  /* padding: 30px 30px 30px 30px; */
  /* margin: 0px 0px 0px 30px; */
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.singleImageContainer {
  display: flex;
  width: auto;
  height: 75px;
  padding: 10px;
}

.singleImageContainer:hover{
  background-color: #f0f0f0;
}

.singleTrainIconSelected {
  filter: brightness(1);
  width: 75px;
  height: auto;
}

.singleTrainIconUnselected {
  filter: brightness(1);
  width: 75px;
  height: auto;
  opacity: .5;
}

.trainButtonsContainer{
    display: flex;
    justify-content: center;
}

.train-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 30px 30px 30px 30px;
  }

  .train-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 30px 30px 30px 30px;
    margin-top: 100px;
  }
  
  .train-card {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .trainCardLogo {
    width: 30px;
    height: auto
  }
 
  .logoandtime {
    left: 0;
    width: 30%;
    border-style: solid;
    padding: 10px;
    
  }

  .description {
    left: 30%;
    width: 70%;
    padding: 10px;

  }

  .train-card h2 {
    margin: 0 0 8px;
  }
  
  .train-card p {
    margin: 4px 0;
  }

#backButton {
  width: 100px;
  height: auto;
}

#backButton:hover {
  background-color: #f0f0f0;
}
